.footer {
    background-color: #282c34;
    color: black;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
  }
  